<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="INICIO.Confiempleados" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="INICIO.Properties.Settings.RestaHuranteConnectionString"
            connectionString="Data Source=D19B1998\SQLEXPRESS;Initial Catalog=RestaHurante;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <INICIO.Confiempleados>
            <setting name="CONFIG" serializeAs="String">
                <value />
            </setting>
            <setting name="Normal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="parcial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tropical" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="panel1" serializeAs="String">
                <value>LightSeaGreen</value>
            </setting>
            <setting name="panel2" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="FROM_config" serializeAs="String">
                <value>DarkSlateGray</value>
            </setting>
            <setting name="butoom_config" serializeAs="String">
                <value>MediumTurquoise</value>
            </setting>
        </INICIO.Confiempleados>
    </userSettings>
</configuration>