<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="INICIO.Properties.Settings.RestaHuranteConnectionString"
            connectionString="Data Source=D19B1998\SQLEXPRESS;Initial Catalog=RestaHurante;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>