<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="ColorCode.Core" version="2.0.14" targetFramework="net472" />
  <package id="Dirkster.ColorPickerLib" version="1.6.2" targetFramework="net472" />
  <package id="Dirkster.NumericUpDownLib" version="2.4.2" targetFramework="net472" />
  <package id="Fable.Core" version="3.7.1" targetFramework="net472" />
  <package id="FontAwesome.Sharp" version="6.3.0" targetFramework="net472" />
  <package id="FontAwesomePropertyEditor" version="1.0.11" targetFramework="net472" />
  <package id="FSharp.Core" version="6.0.4" targetFramework="net472" />
  <package id="Glutinum.Iconify" version="1.0.0" targetFramework="net472" />
  <package id="Glutinum.IconifyIcons.Iconoir" version="1.0.0" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net472" />
  <package id="Uno.Fonts.Fluent" version="2.2.0" targetFramework="net472" />
  <package id="WPF.ImageFromFont.Tool" version="1.0.0" targetFramework="net472" />
</packages>